<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mercandalli.androis.apps.midi_receiver">

    <application>

        <service
            android:name=".MidiScope"
            android:permission="android.permission.BIND_MIDI_DEVICE_SERVICE">

            <intent-filter>
                <action android:name="android.media.midi.MidiDeviceService" />
            </intent-filter>

            <meta-data
                android:name="android.media.midi.MidiDeviceService"
                android:resource="@xml/scope_device_info" />

        </service>

    </application>

</manifest>
